.Footer {
  background-color: white;
  font-family: "Open Sans";
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .icons {
    width: 10vw;
    display: flex;
    justify-content: space-around;
    .links {
      color: black;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: red;
      }
    }
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 30%;

    a {
      font-size: 20px;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: red;
      }
    }
  }

  p {
    color: black;
    font-size: 20px;
    cursor: default;
  }
}
