.Nav {
  height: 10vh;
  background-color: white;
  font-family: "Open Sans";
  padding: 0 4rem;
  gap: 3rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;

    a {
      text-shadow: 0.5px 0.5px 0.5px #000;
      font-size: 1.25rem;
      --tw-text-opacity: 1;
      color: rgb(0 0 0 / var(--tw-text-opacity));
      font-weight: 100;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: red;
      }
    }
  }

  img {
    width: 200px;
  }
}
